# Server
PORT=3000

# Firebase Admin SDK
FIREBASE_SERVICE_ACCOUNT_PATH=./privateKeyFirebase.json
FIREBASE_DATABASE_URL=

# MQTT Broker (EMQX Public)
MQTT_BROKER_URL=mqtts://broker.emqx.io:8883
MQTT_USERNAME=my_secure_user
MQTT_PASSWORD=my_secure_password

# CORS - Cho phép Mobile App kết nối
CORS_ORIGIN=*
